<h1>The Tech Blog</h1>
{{#each post as |post|}}
  <section class="card">
    <a href="/post/{{id}}" class="card-body">
        <h3 class="card-title">{{title}}</h3> 
        <h5>Posted by {{user.name}} on {{createdAt}}</h5>
        <p class="card-text">{{content}}</p>
    </a>
  </section>
{{/each}}